#main-nav.navbar
  .navbar-inner
    .container
      %a{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :class => "btn navbar-btn"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.logo{:href => root_url }
        =image_tag "ATLRUG_logo.png", :alt => 'Atlanta Ruby Logo'
      %div.navbar-collapse
        %ul.nav.navbar-nav.nav-links.navbar-left
          %li
            = link_to 'Go to Meetings', meetings_path
          -# %li
          -#   = link_to 'Find Presentations', videos_path
          %li
            = link_to 'Learn Ruby', '/learn'
        %ul.nav.navbar-nav.nav-links.navbar-right
          %li
            = link_to 'Find a Job', jobs_path
          %li
            = link_to 'Hire Someone', resumes_path
          -# %li
          -#  = link_to 'Give a Talk', new_talk_path
          -#%li.dropdown.admin-nav
          -#  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          -#    Admin
          -#    %b.caret
          -#  %ul.dropdown-menu
          -#    - if signed_in?
          -#      %li
          -#        %a{:href => approve_talks_path, :tabindex => "-1"} Approve Talks
          -#      %li
          -#        %a{:href => log_out_path, :method => :delete, :tabindex => "-1"} Log out
          -#    - else
          -#      %li
          -#        %a{:href => login_path, :tabindex => "-1"} Login
